---
layout: default
title: Javi Sanromán
---


{% for post in site.posts %}
  {% unless post.draft %}
  <section class="index">
    <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
    <a href="{{ post.url }}" rel="prefetch">
      {{ post.title }}
    </a>
  </section>
  {% endunless %}
{% endfor %}

<section class="pagination pagination_home">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn btn-outline">‹ Newer</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
  {% endif %}
</section>